# Build results
[Bb]in/
[Oo]bj/

# Visual Studio cache/options
.vs/

# JetBrains Rider
.idea/
*.sln.iml

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Core
appsettings.Development.json

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# macOs
.DS_Stor