@model DwarfColony.Models.ViewModels.EditDwarfModel
@{
    ViewData["Title"] = "Edit @Model.Name";
}

<h1>Dwarf: <b>@Model.Name</b></h1>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <input type="submit" value="Save" class="btn btn-primary">
</form>
