@using DwarfColony.Models.Entities
@using DwarfColony.Models.Entities.Dwarfs
@model EditDwarfJobModel
@{
    ViewData["Title"] = "Edit Dwarf";
}

<h3 class="text-start"><b>Name</b>: @Model.Name</h3>
<h3 class="text-start"><b>Job</b>: @Model.Job</h3>
<form asp-action="Edit">
    <input type="hidden" asp-for="Id"/>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Job" class="form-label text-start d-block label-text"></label>
        <select asp-for="Job" asp-items="Html.GetEnumSelectList<DwarfJob>()" class="form-control mb-3"></select>
    </div>

    <div class="text-start">
        <input type="submit" value="Save" class="btn btn-outline-primary btn-lg">
    </div>
    <div class="text-start mt-4">
        <a asp-controller="Dwarves" asp-action="Index">Back to Dwarf Base</a>
    </div>
</form>
