@model SetAreaViewModel

@{
    ViewData["Title"] = "SetArea";
}

<h3 class="text-start">@Model.DwarfName</h3>
<h3 class="text-start">@Model.CurrentArea</h3>

<form asp-action="SetArea" method="post">
    <input type="hidden" asp-for="DwarfId"/>
    
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="TargetAreaId" class="form-label text-start d-block label-text"></label>
        <select asp-for="TargetAreaId" asp-items="Model.TargetAreas" class="form-control mb-3"></select>
    </div>
</form>
<p>@Model.Description</p>

