@{
    ViewData["Title"] = "Dwarf Colony";
}

<p>Welcome to Colony, a wep application focused on managing and simulating a dwarf settlement. The goalf of this
    project is to agradually build a system where individual dwarves work, rest and take care of their basic
    needs.</p>

<h3 class="left">The application allows you to:</h3>
<ul>
    <li>Create and manage dwarves</li>
    <li>Track their stats (energy, hunger, thirst)</li>
    <li>Assign jobs and tasks</li>
    <li>Progressively develop and expand the colony</li>
</ul>


<h3 class="left">Planned future features include:</h3>
<ul>
    <li>Advanced job and task system</li>
    <li>Time and needs simulation</li>
    <li>Resource management and economy</li>
    <li>Interactive elements and colony visualization</li>
</ul>

<small>This project serves as a practical demonstration of web development using <b>ASP.NET MVC</b>, including database integration and frontend styling with <b>Bootstrap</b> and little bit on my own <b>CSS</b>.</small>